/* Global Style*/
* {
    margin: 0;
    padding: 0;
    overflow: auto;       /* do not overflow */
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 2.6rem;
  }
  li,
  button,
  label,
  input,
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: normal;
  }
  h4,
  h5 {
    font-size: 1.5rem;
  }


/* Nav Bar */
nav {
    height: 6rem;
    width: 95%;     /* acts as the margin */
    margin: auto;   /* centers it */
    background-color: white;
    overflow: visible;  /* for mobile look */
}

nav li {
    list-style-type: none; /* remove bullets */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.7rem;
    vertical-align: middle;
}
nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    float: right;  /* item orders in reverse */
}
nav ul li {
    display: inline-block;
    padding: 1.3rem;
    float: left;  /* reverse back to normal */
}
nav img {
    position: absolute;
    left: 40px;
    top: 14px;
    width: 100px;
    object-fit: contain;
}
nav a {
    color: black;
    text-decoration: none; /* gets rid of hyperlink format */
}

nav ion-icon {
    float: right;
    margin: 1.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    border-radius: 1.5rem;
    display: none;
}

nav ion-icon:hover {
    background-color: rgb(255,192,72);
}

  @media screen and (max-width: 650px) {
    .topnav li {
        display: none;
    }
    nav ion-icon {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    nav {
        width: 100%;
        max-width: 100%
    }
    nav ion-icon {
        position: absolute; /* gets rid of hyperlink format */
        right: 0;
        top: 0;
        
    }
    nav .topnav.responsive {
        background-color: lightgrey;
        display:block;
        position: absolute;
        top:0;
        padding-top: 0.5rem;
    }
    nav .topnav.responsive li {
        float: none;
        display:block;
        text-align: center;
        width: 100vw;
        padding: 1.3rem 0rem;

    }
    nav .topnav.responsive li:hover{
        background-color: rgb(255,192,72);
    }
  }

.main-head {
  background:white;
  color: black;
}

/* hero */
.hero {
    background: url(./image/HH.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;   /* centering MAS */
    justify-content: center;
}
.hero h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 2px black;
}

/* Who are we */
.who-are-we {
    background: rgb(121, 0, 60);   /* McMaster Maroon */
    height: 38rem;
    color: white;                  /* text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}
.who-are-we img {
    width: 18rem;
    object-fit: contain;
}
.who-are-we h2 {
    margin-bottom: 3%;
}
.who-are-we p {
    text-align:justify;
    text-align-last: center;  /* center the last line */
}

/* resources */
#resources {
    background: rgb(240, 239, 239);
}

#resources h2 {
    text-align: center;
    padding: 3rem;
}

#resources h4 {
    padding-top: 2rem;
    font-family: Arial;   /* for bolding */
    font-size: 1.6rem;
}

#resources p {
    padding: 2rem 4rem;
}

#resources .card-container {
    margin: auto;
    height: 50vh;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    min-width: 120rem;
}

#resources .card-container .card {
    height: 80%;
    width: 90%;
    border: darkgray;
    text-align: center;
    flex-wrap: wrap;
    min-height: 40vh;
    margin: 1rem 3rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

#resources .card-container .card .card-icon {
    height: 13%;
    background:rgb(121, 0, 60);
}

/* events */

#events {
    text-align: center;
    padding: 5rem;
}

.calendar-social-media {
    display: flex;
}

#calendar {
    flex:4;
    max-width: 70%;
    margin: 1.5rem auto;
    font-size: 1.5rem;
    padding: 2%;
  }

.calendar-social-media #social-media{
    flex:1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer grey */

.footer-yellow {
    background: rgb(255,192,72);
    height: 1rem;
}

.footer-grey {
    background: rgb(92, 106, 114);   /* McMaster Maroon */
    height: 19rem;
    color: white;                  /* text color */
    display: flex;
    justify-content: space-around;
}

.footer-grey img {
    width: 40rem;
    object-fit: contain;
}

.footer-grey #address, #contact-us {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
}

.social-media-icons {
    display: flex;
}

ion-icon {
    font-size: 2.5rem;
    color: rgb(65, 65, 66);
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

/* footer maroon */
.footer-maroon {
    background: rgb(121, 0, 60);
    height: 6rem;
    color: white;
    display: flex;
    align-items: center;
}
.footer-maroon p {
    padding-left: 7rem;
}


/* 255,192,72 */ /* McMaster Yellow */